{#
/**
 * @file
 * Theme implementation for marquee-block.
 *
 * Available variables:
 * - message: marquee message.
 * - scroll_behavior: marquee scroll behaviour.
 * - scroll_speed: marquee scroll speed.
 * - scroll_direction: marquee direction.
 */
#}

<div id="marquee-scroller">
	<div id="marquee-scroller-inner">
		<marquee class="marquee" behavior="{{ scroll_behavior }}" scrollamount="{{ scroll_speed }}" direction="{{ scroll_direction }}">
			<span>{{ message }}</span>
		</marquee>
	</div>
</div>
